@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variable";

:root {
  --c-dark: #717171;
  --c-brand-light: #278c28;
  --c-brand: #4CAF4F;
  --c-brand-rgb: 78, 87, 212;
  --c-body: #f9fafb;
  --c-section:#F5F7FA;
  --box-shadow: 0px 15px 25px rgba(0,0,0,0.08);
  --transition: all 0.5s ease;
}

body {
  font-size: 16px;
  color: var(--c-dark);
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}
h1, h2, h3, {
  color: #4D4D4D;
}
#head{
  color:#4D4D4D;
 }
a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}
.navbar-brand:hover{
  color: var(--c-brand-light);
}
a:hover {
  color: var(--c-brand-light);
}
//.navbar {
//  box-shadow: var(--box-shadow);
//}

.navbar-nav .nav-link {
  font-weight: 600;
  font-size: 18px;
  color: var(--c-dark);
}
.navbar-nav .nav-link:hover{
  color: var(--c-brand);
  transition: var(--transition);
}
.navbar-nav .nav-link.active {
  color: var(--c-brand);
}


/* BTN */
.btn {
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px 24px;
 ;
}

.btn-brand {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: white;
}

.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
  color: white;
}
#hero-row,{
  padding: 100px 0;
}
.success{
  color: var( --c-brand);
  font-size: 47px;
}

.success1{
  color: var( --c-brand);
}
#hero, #blog, #blog1{
  background-color:var(--c-section) ;
}
#design{
  background-color: white;
}
.section-title {
    margin-bottom: 60px;

}
.section-title p {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.image-content {
  background-color: white;
  color: var(--c-dark);
  border-radius: 10px;
  position: absolute;
  bottom: -24px;
  left: 35%;
  transform: translateX(-50%);
  transition: var(--transition);
  opacity: 0;
}

.image:hover .image-content {
  opacity: 1;
  bottom: 24px;

}
.image-zoom {
  position: relative;

}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
}

.image-zoom-wrapper img{
  transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}
#footer{
  background-color: #263238;
}
#inputs{
  background-color: #58595c;
  border: 0px solid grey;
  padding: 10px;
}



